{% extends "/base.twig" %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block title %}{{ post.gettitlePost()}}{% endblock %}
{% block content %}
<div class="container">
	<div class="card my-3">
		<div class="card-header">
			<h1 class="card-title">{{ string(post.gettitlePost()) }}</h1>
			<div class ="d-flex flex-row justify-content-between">
			 <figcaption class="lead"> {{string(post.getchapoPost())}}</figcaption>
			</div>
		</div>
		<div class="card-body">
			<p class="card-text">{{ string(post.getcontentPost()) }}</p>
		</div>
		<div class="card-footer">
		<p class="card-text">ecrit par {{ post.getauthor() }} le {{ post.date() }}
		</div>
	</div>
		{% if auth('User')%}
		{% if message is defined %}
			<div class="alert alert-{{ alert }}">
				<p>{{ message }}</p>
			</div>
		{% endif %}
		<div class="mb-2">
			<form method="POST" action="{{ post.getDisplayUrl() }}" class="d-flex flex-row">
				<div class="flex-grow-1 form-group mr-2">
					<label for="comment">nouveau commentaire</label>
					<input type="text" class="form-control" name="comment" maxlength='256'>
				</div>
				<div class="form-group mt-auto ml-2">
					<input type="hidden" name="nameToken" value="{{ token.nameToken }}">
					<input type="hidden" name="token" value="{{ token.token }}">
					<input class="btn btn-success" type="submit" value="Poster le commentaire">
				</div>
			</form>
		</div>
		{% endif %}
		<ul class="list-group">
			{% for comment in comments %}
				<li class="list-group-item">
					<h5>{{ comment.getauthor() }}</h5>
					<hr>
					{{ string(comment.gettextComment()) }}
				</li>
			{% endfor %}
		</ul>
	<div>
</div>
{% endblock %}